{% extends "layout.html" %}

{% block title %}
	Dashboard
{% endblock %}

{% block content %}
	<section class="container d-flex flex-column align-items-center" style="margin-top: 64px;">
		<div class="container p-0 col-12 col-lg-8 mb-3">
			<div class="col-12 col-md-3 col-lg-2">
				<a href="#" class="btn w-100 btn-primary d-flex align-items-center justify-content-center">New Task<i data-feather="plus"></i></a>
			</div>
		</div>
		<div class="card col-12 col-lg-8">
			<div class="card-header d-flex justify-content-between align-items-center">
				<div>
					11/02/2002 - Progress 
				</div>
				<a href="#" class="btn btn-danger"><i data-feather="trash"></i></a>
			</div>
			<div class="card-body d-flex flex-column container">
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<div class="col-12 col-md-3 col-lg-2">
					<a href="#" class="btn w-100 btn-success">Do</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
